.collections {
    padding: 100px 0;
    background-color: $bc;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 55px;
        position: relative;
        &__title {
            @include content($black, 400);
        }
        &__slider {
            width: 100%;
            .card {
                display: flex;
                flex-direction: column;
                gap: 30px;
                &__gallery {
                    display: flex;
                    gap: 10px;
                    height: 270px;
                    .mySwiper2 {
                        min-width: 200px;
                        flex: 1;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                    .mySwiper {
                        width: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                }
                &__info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &__title {
                        @include btnText($black, 700);
                    }
                    &__personal {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .user {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            &__img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                            &__name {
                                @include text($black, 400);
                            }
                        }
                        .link {
                            @include btn(auto, auto, $blue, $white, $blue, 5px 12px, 60px);
                        }
                    }
                }
            }
        }
    }
}

.mySwiper .swiper-slide img {
    filter: brightness(40%);
    transition: filter 0.3s;
}

.mySwiper .swiper-slide-thumb-active img {
    filter: brightness(100%);
}
