.discover {
    padding: 65px 0;
    background-color: $bc;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        &__title {
            @include content($black, 400);
        }
        &__filter {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .list {
                display: flex;
                gap: 10px;
                &__btn {
                    @include btn(auto, auto, $violet, $gray, transparent, 10px 20px, 60px);
                    color: $black;
                }

                .actFilter {
                    background-color: $violet;
                    color: $white;
                }
            }
            .btn {
                @include btn(auto, auto, $violet, $gray, transparent, 10px 20px, 60px);
            }
        }
        &__main {
            width: 100%;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            .card {
                min-width: 300px;
                flex: 1;
                background-color: $white;
                border: 1.1px solid #f2f2f280;
                border-radius: 15px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                > img {
                    width: 100%;
                    height: 250px;
                    border-radius: 10px;
                    object-fit: cover;
                }
                &__info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    position: relative;
                    padding-top: 10px;
                    &__users {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 10px;
                        transform: translateY(-100%);
                        .img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            object-fit: cover;
                            border: 3px solid $white;
                            &:nth-child(2) {
                                transform: translateX(-40%);
                            }
                            &:nth-child(3) {
                                transform: translateX(calc(-40% * 2));
                            }
                            &:nth-child(4) {
                                transform: translateX(calc(-40% * 3));
                            }
                            &:nth-child(5) {
                                transform: translateX(calc(-40% * 4));
                            }
                            &:nth-child(6) {
                                transform: translateX(calc(-40% * 5));
                            }
                            &:nth-child(7) {
                                transform: translateX(calc(-40% * 6));
                            }
                        }
                    }
                    &__title {
                        @include btnText($black, 700);
                    }
                    &__eth {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
                        position: relative;
                        .count {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            @include text($green, 500);
                        }
                        .page {
                            @include text($darkGray, 500);
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -20px;
                            width: 100%;
                            height: 1px;
                            background-color: $gray;
                        }
                    }
                    &__date {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .time {
                            @include btn(auto, auto, $violet, $gray, transparent, 4px 10px, 60px);
                        }
                        .link {
                            @include text($violet, 500);
                        }
                    }
                }
            }
        }
        &__link {
            @include btn(auto, auto, $violet, $white, $violet, 18px 40px, 60px);
        }
    }
}
