.footer {
    background-color: $white;
    padding: 80px 0 20px;
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__main {
            display: flex;
            gap: 90px;
            border-bottom: 1px solid $gray;
            padding-bottom: 60px;
            .wrap {
                display: flex;
                flex-direction: column;
                gap: 25px;
                &__logo {
                    width: 150px;
                    height: 30px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &__title {
                    @include btnText($black, 700);
                    white-space: nowrap;
                }
                &__text {
                    @include text($darkGray, 500);
                }
                &__social {
                    display: flex;
                    gap: 16px;
                    &__link {
                        @include btn(40px, 40px, $white, #3b5998, #3b5998, 0, 50%);
                        justify-content: center;
                        &:nth-child(2) {
                            @include btn(40px, 40px, $white, #55acee, #55acee, 0, 50%);
                        }
                        &:nth-child(3) {
                            @include btn(40px, 40px, $white, #007ab9, #007ab9, 0, 50%);
                        }
                    }
                }
                &__links {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    a {
                        @include text($darkGray, 500);
                    }
                }
                &__form {
                    border: 2px solid $gray;
                    border-radius: 50px;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    &__inp {
                        flex: 1;
                        height: 100%;
                        border-radius: 50px;
                        @include text($black, 500);
                        &::placeholder {
                            color: $black;
                        }
                    }
                    &__btn {
                        white-space: nowrap;
                        @include btn(auto, auto, $white, $blue, $blue, 12px 30px, 50px);
                    }
                }
            }
        }
        &__text {
            text-align: center;
            @include text($darkGray, 500);
        }
    }
}
