$white: #ffffff;
$black: #000;
$bc: #d9e0ec33;
$gray: #ececec;
$darkGray: #696969;
$violet: #3d00b7;
$blue: #2639ed;
$green: #14c8b0;
$red: #ff002e;
$bisque: #ffe0d4;

$tr: all 0.3s ease;
