.header {
    display: flex;
    align-items: center;
    background-color: $white;
    height: 100px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid $gray;
    z-index: 999;
    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        &__logo {
            width: 150px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__list {
            display: flex;
            gap: 40px;
            .item a {
                @include text($black, 600);
            }
        }
        &__wrap {
            display: flex;
            align-items: center;
            gap: 20px;

            .form {
                border: 2px solid $gray;
                border-radius: 50px;
                padding: 8px;
                display: flex;
                align-items: center;
                gap: 5px;
                &__inp {
                    flex: 1;
                    height: 100%;
                    border-radius: 50px;
                    @include text($black, 500);
                    &::placeholder {
                        color: $black;
                    }
                }
                &__btn {
                    white-space: nowrap;
                    justify-content: center;
                    @include btn(30px, 30px, $white, $blue, $blue, 0, 50%);
                }
            }
            .link {
                @include btn(auto, auto, $white, $violet, $violet, 12px 30px, 50px);
                &:nth-child(3) {
                    @include btn(auto, auto, $violet, $white, $violet, 12px 30px, 50px);
                }
            }
        }
    }
}
